.task {
    width: 100%;
    min-height: 100px;
    background-color: #9D8E8E;
    border-radius: 10px;
    margin: 20px 0;
}
.task__container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
}
.task__text {
    flex: 80%;
    margin: 0 10px;
    font-size: 24px;
    word-break: break-word;
}
.task__iconRadio {
    max-width: 36px;
    min-height: 36px;

    flex: 5%;
    cursor: pointer;
    user-select: none;
}

.task__fail {
    flex: 5%;
    cursor: pointer;
    user-select: none;
    transform: scale(0.9);
    transition: 0.3s all;
}
.task__fail:hover {
    transform: scale(1);
    transition: 0.3s all;
}

.task__bucket {
    width: 70px;
    height: 70px;
    flex: 5%;
    cursor: pointer;
    user-select: none;
    transform: scale(0.9);
    transition: 0.3s all;
}
.task__bucket:hover {
    transform: scale(1);
    transition: 0.3s all;
}

