.groupBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.iconGroup {
    width: 20px;
    height: 43px;
    align-self: end;
}
.groupName {
    width: 100%;
    color: #fff;
    padding-bottom: 9px;
    margin-left: 9px;
    font-size: 24px;
    border-bottom: 0 solid #D9D9D9;


}
.activeBtn {
    border-bottom: 4px solid #D9D9D9;

}