.loginBlock {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.loginBlock__userBlock {
    display: flex;
    align-items: center;
}
.loginBlock__userAvatar {
    width: 65px;
    height: 65px;
    align-self: center;
    margin-right: 18px;
    border-radius: 50%;
}
.loginBlock__userName {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}
.loginBlock__logout {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-decoration: underline;
    text-decoration-color: #D6B1B1;
    color: #D6B1B1;
    margin-left: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}