.sideMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100vh;
    transition: 0.3s all;
    background-color: transparent;


}
.sideMenu__icon {
    position: absolute;
    top: 50px;
    right: -50px;
    cursor: pointer;
    transition: 0s all;
    z-index: 10;
    user-select: none;
}
.activeIcon {
    transform: rotateY(180deg);
    transition: 0s all;
    right: 50px;

}

.activeMenu {
    width: 430px;
    opacity: 100%;
    transition: 0.3s all;
    background-color: #A47878;
}
.sideMenu__container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding: 100px 30px 100px 30px;
}
.activeMenu .sideMenu__container {
    opacity: 100%;
}