.menuTask {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100vh;
    transition: 0.3s all;
    background-color: transparent;
    opacity: 0;
    justify-content: space-between;
}
.activeMenu {
    width: 410px;
    min-width: 410px;
    height: 100%;
    background-color: #A47878;
    opacity: 100%;
    transition: 0.3s all;
}
.menuTask__container {
    flex-direction: column;
    opacity: 0;
    display: flex;
    padding: 0 15px;
    margin-top: 83px;

}
.activeMenu .menuTask {
    opacity: 100%;

}
.activeMenu .menuTask__container {
    opacity: 100%;
}

.menuTask__editText {
    width: 100%;
    height: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    outline: none;
    color: #FFFFFF;
    background: #757171;
    border-radius: 10px;
    padding: 16px 22px;
    resize: none;
}
.menuTask__editText::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.menuTask__editText::-webkit-scrollbar {
    width: 0;
}
.menuTask__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.menuTask__inputWrapper {
    max-height: 136px;
    padding: 20px 30px;
    background-color: #9D8E8E;
    position: relative;
    border-radius: 10px;
}
.menuTask__input {
    background-color: #9D8E8E;
    font-size: 24px;
    outline: none;
    color: #fff;
    border: none;
    resize: none;
    overflow-y: scroll;
    width: 100%;
}
.menuTask__input::-webkit-scrollbar {
    width: 0;
}

.menuTask__input::-webkit-input-placeholder {
    color: #fff;
}
.menuTask__pencilIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transform: scale(0.7);
}

.menuTask__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 30px;
}
.menuTask__footerDate {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.menuTask__taskNote {
    margin: 52px 0 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.menuTask__footerDeleteIcon {
    cursor: pointer;
}