.uncompleteTasks__title {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    padding-top: 15px;
}
.uncompleteTasks__title:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}