.regAndAuth {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(115.34deg, #D68888 28.98%, rgba(165, 148, 148, 0) 109.14%) no-repeat;
}
.regAndAuth__container {
    position: relative;
    width: 722px;
    height: 484px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.35));
}
.regAndAuth__container__auth {
    width: 50%;
    height: 316px;
    background-color: #E3DBDB;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.regAndAuth__container__reg {
    width: 50%;
    height: 316px;
    background-color: #A47878;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.regAndAuth_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
;
}
.regAndAuth_title__titleReg {
    color: #FFFFFF;
}
.regAndAuth_title__titleOpen {
    color: #2C2B2B;
}
.regAndAuth__btnOpen {
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background-color: #D58888;
    border-radius: 5px;
}
.regAndAuth__btnReg {
    width: 280px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: none;
    cursor: pointer;
    background: #FFFBFB;
    border-radius: 5px;
}

.regAndAuth__formBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E3DBDB;
    border-radius: 10px;
    transition: 0.4s ease-in-out;

}
.regAndAuth__formBox.active {
    transition: 0.4s ease-in-out;
    transform: translateX(100%);
}


.regAndAuth_titleForm {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}