.addTask {
    max-width: 100%;
    min-height: 100px;
    background-color: #9D8E8E;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.addTask__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 25px;

}

.addTask__cross {
    flex: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scale(0.8);
}
.addTask__alarm {
    flex: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s all;
}
.addTask__alarm:hover {
    transform: scale(1);
    transition: 0.3s all;
}