* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: Roboto, serif;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(115.34deg, #D68888 28.98%, rgba(165, 148, 148, 0) 109.14%);
    background-repeat: no-repeat;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
}
